*.gem
*.rbc
.DS_Store
.rvmrc
.ruby-version
.yardoc
.rake_tasks~
Gemfile.lock
coverage/*
doc/*
log/*
pkg/*
.idea/*
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
