---
http_interactions:
- request:
    method: get
    uri: https://api.taxjar.com/v1/sales_tax?amount=10&from_city=Ramsey&from_country=US&from_state=NJ&from_zip=07446&shipping=2&to_city=Freehold&to_country=US&to_state=NJ&to_zip=07728
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="dae79dc5154ccabd7cb169f616d605e7"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Warning:
      - '299: "Deprecated API, respected until 2015-09-01" "2015-06-25T11:31:30.641"'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e5e58b860796403d1f1a3efa41b7fc30"'
    body:
      encoding: UTF-8
      string: '{"taxable_amount":12.0,"amount_to_collect":0.84,"rate":0.07,"has_nexus":true,"freight_taxable":true,"tax_source":"destination"}'
  recorded_at: Thu, 25 Jun 2015 11:31:39 GMT
recorded_with: VCR 2.9.3
