---
http_interactions:
- request:
    method: delete
    uri: https://api.taxjar.com/v2/enhanced/transactions/refunds/REFUND_123456?amount=10&from_city=Camarillo&from_country=US&from_state=CA&from_zip=93010&line_items%5B%5D%5Bid%5D=123456&line_items%5B%5D%5Bquantity%5D=1&line_items%5B%5D%5Bunit_price%5D=20&sales_tax=0.84&shipping=2&to_city=Freehold&to_country=US&to_state=NJ&to_zip=07728&transaction_date=2015/06/26&transaction_reference_id=123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="dae79dc5154ccabd7cb169f616d605e7"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e677b5d8b52c45708fbd020f4197df1f"
    body:
      encoding: UTF-8
      string: '{"refund":{"transaction_id":"REFUND_123456","user_id":440,"transaction_date":"2015-06-26T00:00:00Z","transaction_reference_id":"123456","from_country":"US","from_zip":"93010","from_state":"CA","from_city":"CAMARILLO","from_street":null,"to_country":"US","to_zip":"07728","to_state":"NJ","to_city":"FREEHOLD","to_street":null,"amount":"10.0","shipping":"2.0","sales_tax":"0.84","line_items":[{"id":1,"quantity":1,"product_identifier":null,"product_tax_code":null,"description":null,"unit_price":"20.0","discount":"0.0","sales_tax":"0.0"}]}}'
  recorded_at: Tue, 11 Oct 2016 09:11:50 GMT
recorded_with: VCR 3.0.3
