---
http_interactions:
- request:
    method: get
    uri: https://api.taxjar.com/v2/enhanced/categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="dae79dc5154ccabd7cb169f616d605e7"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
      Etag:
      - '"d806e22ec7ec1f585c2aa84ac769ee2c"'
    body:
      encoding: UTF-8
      string: '{"categories":[{"name":"Other Exempt","product_tax_code":"99999","description":"item
        is exempt"},{"name":"Clothing","product_tax_code":"20010","description":"normal
        clothing"},{"name":"Food \u0026 Groceries","product_tax_code":"40030","description":"food
        for humans not cooked"},{"name":"Non-Prescription","product_tax_code":"51010","description":"non
        prescription drugs"},{"name":"Prescription","product_tax_code":"51020","description":"prescription
        drugs"},{"name":"Digital Goods","product_tax_code":"31000","description":"digital
        goods"},{"name":"Special Digital Products","product_tax_code":"32000","description":"special
        digital products"},{"name":"Software as a Service","product_tax_code":"30050","description":"Pre-written
        computer software delivered electronically"}]}'
  recorded_at: Fri, 26 Jun 2015 10:54:05 GMT
recorded_with: VCR 2.9.3
