---
http_interactions:
- request:
    method: post
    uri: https://api.taxjar.com/v2/standard/taxes
    body:
      encoding: UTF-8
      string: amount=10&from_city=Ramsey&from_country=US&from_state=NJ&from_zip=07446&shipping=2&to_city=Freehold&to_country=US&to_state=NJ&to_zip=07728
    headers:
      Authorization:
      - Token token="dae79dc5154ccabd7cb169f616d605e7"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
      Etag:
      - '"f5fa2826a66a2b9ac360ed7be14f1679"'
    body:
      encoding: UTF-8
      string: '{"tax":{"taxable_amount":"12.0","amount_to_collect":0.84,"rate":0.07,"has_nexus":true,"freight_taxable":true,"tax_source":"destination"}}'
  recorded_at: Thu, 25 Jun 2015 12:31:06 GMT
recorded_with: VCR 2.9.3
