---
http_interactions:
- request:
    method: get
    uri: https://api.taxjar.com/v2/standard/rates/07446?city=Ramsey&country=US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="dae79dc5154ccabd7cb169f616d605e7"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
      Etag:
      - '"4d36d5fe8325a3598f7523580c88830a"'
    body:
      encoding: UTF-8
      string: '{"rate":{"zip":"07446","state":"NJ","state_rate":"0.07","county":"BERGEN","county_rate":"0.0","city":"RAMSEY","city_rate":"0.0","combined_district_rate":"0.0","combined_rate":"0.07"}}'
  recorded_at: Thu, 25 Jun 2015 14:49:01 GMT
recorded_with: VCR 2.9.3
