---
http_interactions:
- request:
    method: get
    uri: https://api.taxjar.com/sales_tax?amount=10&from_city=Ramsey&from_country=US&from_state=NJ&from_zip=07446&shipping=2&to_city=Freehold&to_country=US&to_state=NJ&to_zip=07728
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="dae79dc5154ccabd7cb169f616d605e7"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a9ea7272ca4facfde21f8e196a21790a"'
    body:
      encoding: UTF-8
      string: '{"amount_to_collect":0.84,"rate":0.07,"has_nexus":true,"freight_taxable":true,"tax_source":"destination"}'
  recorded_at: Tue, 30 Dec 2014 19:59:20 GMT
recorded_with: VCR 2.9.3
