---
http_interactions:
- request:
    method: get
    uri: https://api.taxjar.com/locations/07446?city=Ramsey&country=US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="dae79dc5154ccabd7cb169f616d605e7"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4c698edaabe3530060a6a8280016359a"'
    body:
      encoding: UTF-8
      string: '{"location":{"state":"NJ","zip":"07446","state_rate":"0.07","city":"RAMSEY","city_rate":"0.0","county":"BERGEN","county_rate":"0.0","combined_district_rate":"0.0","combined_rate":"0.07"}}'
  recorded_at: Tue, 30 Dec 2014 20:42:38 GMT
recorded_with: VCR 2.9.3
